* {
	padding: 0;
	margin: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #111;
}
.head {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid #333;
	padding-bottom: 10px;
}
.head p:nth-of-type(1) {
	margin-top: 10px;
	font-size: 30px;
	color: #FFAA00;
	text-align: center;
	padding: 5px 0;
}
.head p:nth-of-type(2) {
	color: #fae1af;
	margin: 5px 0;
	font-size: 28px;
}
.content {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content .downloadBtn {
	width: 20%;
	font-size: 18px;
	min-width: 200px;
	text-align: center;
	background-color: #FFAA00;
	color: #fff;
	border-radius: 5px;
	padding: 12px 0;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	margin: 12px 0;
}
.content p {
	color: #fff;
	padding: 0 20px;
}
.content p.detail {
	width: 100%;
	margin-top: 10px;
	text-align: center;
	border-top: 1px solid #333;
	padding: 10px 0;
}
a{text-decoration:none;color: #fff;}
.content .split {
	width: 100%;
	height: 1px;
	background-color: #333;
	margin: 10px 0;
	padding: 0;
}